.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo_img{
  height: 45px;
}

.container {
  margin: 0 auto;
  padding: 40px;
  width: 94.4%;
  color: #333;
  background: black;
}

.container img {
	margin-left: auto;
	margin-right: auto;
	display: block;
  width: 1000px;
}
ul {
   margin: 1.5em; 
   
   list-style-type: none;
}

ul li {
    display: inline-block;
   border-bottom: 1px solid #ccc;
   padding: .2em 0 .2em .5em;
   font-weight: bold;
   color: #666; 
}
ul li:hover {
   cursor: pointer;
  
   background-color: #f2f2f2;
   color: #000; 
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.input{
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
.events li{
  display: block;
  float: left;
}
